.container {
  display: flex;
  min-height: calc(100vh - 60px);
  background-color: #f8f9fa;
  margin-left: 200px;
}

.main {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin-left: 160px;
  }

  .main {
    padding: 1rem;
  }
}
